.forgetBody {
  margin-bottom: 50px;
  margin-left: 120px;
  margin-right: 120px;
}

.forgetBody h5 {
  margin-top: 50px;
  font-size: 25px;
}

.forgetable {
  border: 1px solid black;
  box-sizing: content-box;
  width: 60%;
  height: 200px;
  border-collapse: collapse;
}

.buttonF {
  background-color: #4682b4;
}

.buttonF:hover {
  opacity: 0.6;
}
