.myuserreview {
  margin-bottom: 50px;
  margin-left: 120px;
  margin-right: 120px;
}

.myuserreview h5 {
  margin-top: 50px;
  font-size: 25px;
}

.myuserreview-content {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid rgb(173, 167, 167);
}

.userreview-info {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userreview-info img {
  width: 150px;
  height: 150px;
}

.userreview .row {
  display: flex;
  flex-direction: row;
}

.reviws-pic,
.user-review h6 {
  text-align: left;
  margin-top: 10px;
}

.review-content {
  margin-left: 75px;
}

.submit-btn {
  margin-left: 70px;
}
