.container h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 10 0 10 30;
  }
  .container table {
    width: 100%;
    border-collapse: collapse;
  }
  .container th {
    width: 25%;
    border: 1px solid gray;
    padding: 10 0 10 0;
    border-left: none;
    border-right: none;
  }
  .container td {
    text-align: center;
    color: black;
    border-bottom: 1px solid gray;
    padding: 10 0 10 0;
  }
  .container input[type="number"] {
    width: 20%;
    color: black;
    text-align: center;
  }
  .container input[type="text"] {
    width: 20%;
    font-size: medium;
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    border: none;
    background-color: white;
  }
  .container button {
    width: 10%;
    padding: 13 10 13 10;
    margin-top: 10;
    margin-bottom: 10;
    box-sizing: border-box;
    border: none;
    border-radius: 1px;
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
  }
  .container button:hover {
    background-color: grey;
  }
  .container div {
    box-sizing: border-box;
    margin: 10 20 10 20;
  }